.table {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.table-title,
.table-datos {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 1200px;
}

.table-datos {
  background: var(--background-glass);
  border-radius: 25px;
  padding: 15px;
}

.tables__data p {
  text-align: center;
}
