.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(/src/assets/images/background-auth.png);
  background-repeat: no-repeat;
  background-size: cover;

  & h1 {
    font-size: 32px;
    text-align: start;
    color: rgba(173, 136, 71, 1);
    margin-bottom: 5px;
  }

  .form-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 510px;
    background-color: rgba(190, 185, 185, 0.4);
    border-radius: 10px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;

    .form-user {
      display: flex;
      justify-content: center;
      align-items: center;

      .form-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .form-name {
        & input {
          margin-left: 15px;
          box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
        }

        & h2 {
          padding: 10px;
          margin-left: 15px;
        }
      }

      .form-files {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(24, 24, 24, 0.75);
        color: #fff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
        & img {
          height: 20px;
          margin-right: 5px;
        }
      }

      .form-active {
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
        font-weight: bold;
        color: rgba(160, 160, 160, 1);
      }

      & input {
        width: 264px;
        height: 44px;
        border: none;
        border-radius: 25px;
        padding: 15px;
      }
      & img {
        height: 97px;
        width: auto;
      }
      & h2 {
        font-size: 20px;
        color: rgba(151, 151, 151, 1);
        font-weight: bold;
      }
    }

    .form-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;

      & input {
        width: 403px;
        height: 44px;
        border: none;
        border-radius: 25px;
        padding: 15px;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
      }
      & h2 {
        text-align: start;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        color: rgba(151, 151, 151, 1);
      }
    }
    .form-submited {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 10px;

      .btn-cancel {
        border: none;
        padding: 13px 50px;
        border-radius: 25px;
        background-color: rgba(81, 81, 81, 1);
        margin-right: 40px;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
      }
      .btn-confirm {
        border: none;
        padding: 13px 50px;
        border-radius: 25px;
        background-color: rgba(178, 142, 76, 1);
        font-size: 16px;
        color: #fff;
        cursor: pointer;
      }
    }

    .btn-delete {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: rgba(190, 185, 185, 0);
      cursor: pointer;
      font-size: 13px;
      color: rgba(152, 152, 152, 1);
      margin-top: 5px;
      font-size: 15px;
      text-align: center;
    }
  }


  .circle-p {
    width: 85px;
    height: 85px;
    background: linear-gradient(90deg, #926228 2.73%, #AD8847 39.78%, #C5A862 67.79%, #F5EC9A 107.96%);
  
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
  
  }
  .circle-p span {
  
    display: inline-block;
    transform: translateY(-2px); /* Ajusta la posición vertical según sea necesario */
  }

.circle-cont{
  display: flex;
  justify-content: center;
}


.profile-select select{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px !important;
  font-family: Exo !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: rgba(61, 61, 61, 0.6) !important;
  width: 100% !important;
  height: 45px !important;
  border: 0px black solid !important;
}
  
}
