
.cards-container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
}

.flex-restaurant{
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin-right: 25px;
}

  .grid-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  
}


.pagination{
  height: 200px;
}


.is-current{
  background-color: rgba(173, 136, 71, 1) !important;
  border-color: black !important;
}

.mostSearched{
  font-family: Roboto;
  font-weight: 500;
  color: rgba(173, 154, 154, 1);
  font-size: 30px;
  align-self: left;
  
}



@media (max-width: 668px) {
  .grid-card {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 5px !important;
  }
  .card-m{
    width: 95vw !important;
    height: 68vw !important;
  }
}

@media (min-width: 669px) and (max-width: 1300px) {
  .grid-card{
    grid-template-columns: repeat(2, 1fr); 
    
  }
  .card-m{
    width: 38vw;
    height: 25vw;
  }
}