.submitted-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-image: var(--background-image);
  padding: 150px;

  & button {
    font-size: 20px;
    padding: 5px 30px;
    border: none;
    background-color: #be9e44;
    border-radius: 20px;
    margin-top: 10px;
  }

  & strong {
    font-size: 32px;
    color: #be9e44;
  }
  & p {
    font-size: 16px;
    font-weight: 500;
    color: rgba(81, 81, 81, 1);
    margin-top: 20px;
  }
}
