
.input-log:focus {
  outline: rgba(39, 94, 245, 0.499) 0.2px solid !important;
}

.register-container {
  width: auto;
  height: 870px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/src/assets/images/background-auth.png");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(190, 185, 185, 0.4);
  width: 487px;
  height: auto;
  
  border-radius: 25px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  padding: 40px;
  width: 100%;
  max-width: 487px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-title img,
.form-title strong {
  margin: 10px;
}

.form-title strong {
  font-size: 16px;
  color: rgba(173, 136, 71, 1);
}

.form-register {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-register input {
  width: 384px;
  height: auto;
  border-radius: 25px;
  border: none;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.form-separate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-separate input {
    width: 93%;
}

.btn-form {
  border: none;
  margin-top: 20px;
  width: 385px;
  height: 44px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(
    90deg,
    #926228 2.73%,
    #ad8847 39.78%,
    #c5a862 67.79%,
    #f5ec9a 107.96%
  );
}

.form-container a,
.form-container small {
  text-align: center;
  margin: 10px;
  color: black;
  letter-spacing: 0.7px;
}

.form-container small {
  color: rgba(0, 0, 0, 0.435);
  font-size: 10px;
}

.input-styled {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  height: 45px !important;
  border-radius: 25px !important;
  font-family: Exo !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  color: rgba(61, 61, 61, 0.6) !important;
  width: 100%;
}

.input-cont{
  width: 100%;
  flex-direction: column;
  display: flex;
  align-content: end;
  margin-bottom: 25px;
  position: relative;
}

.input-cont1{
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: end;
  margin-bottom: 25px;
  position: relative;
}

.register-error{
  position: absolute;
  font-family: Exo;
  font-weight: 500;
  top: 47px;
  left: 15px;
  color: var(--color-validation-red);
  font-size: 13px;
}

.register-error1{
  position: absolute;
  font-family: Exo;
  font-weight: 500;
  top: 47px;
  left: 32px;
  color: var(--color-validation-red);
  font-size: 13px;
}

@media only screen and (max-width: 900px) {
  .register-container {
    height: 900px;
    width: auto;
  }
}
