.reserve-container {
  display: flex;
}

.reserve-img {
  width: 50px;
  cursor: pointer;
}

.reserve-table {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0px;
  top: 100px;
  background-color: rgb(15, 15, 15);
  color: #fff;
}

.reserve-card {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 16px;

  list-style: none;
  margin-top: 20px;
  padding: 10px;
}

.reserve-card-top,
th,
tr {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  font-size: 16px;
  color: #fff;

  list-style: none;
  padding-top: 20px;
}

.text-center {
  text-align: center;
  padding-top: 20px;
}
