.background {
  height: 800px;
  width: 80vw;
  overflow-x: hidden;
  z-index: 0;
}

.appContainer {
  background-image: url("../AdminControlPanel/svg/cenbkg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;

  margin-left: 240px;
}

.logoContainer {
  align-self: flex-end;
  margin-right: 45px;
  margin-top: 20px;
}

.logo {
  width: 165px;
  height: auto;
}
.title {
  color: #000000;
  margin-left: 73px;
  font-weight: 400;
}
.titleLogoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.transparentTable {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  color: #000000;
  justify-content: space-evenly;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 25px;
}
.tableContainer {
  width: 65vw;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.headerTable th:first-child,
.headerTable th:not(:first-child) {
  text-align: left;
}

.headerTable th:first-child {
  text-align: left;
}

.headerTable th:not(:first-child) {
  text-align: left;
}

.headerTable th:nth-child(1) {
  width: 140px;
}
.headerTable th:nth-child(2) {
  width: 90px;
}

.headerTable th:nth-child(3) {
  width: 130px;
}

.headerTable th:nth-child(4) {
  width: 150px;
}

.headerTable th:nth-child(5) {
  width: 150px;
}

.headerTable th:nth-child(6) {
  width: 200px;
}

.headerTable th:nth-child(6) {
  width: 160px;
}

.barsContainer {
  display: flex;
  width: 1160px;
  height: 367px;
  align-items: center;
  justify-content: center;
}
.dataContainer {
  display: flex;
  align-self: auto;
  flex-direction: column;
  width: 997px;
  height: 367px;
  background-color: transparent;
  gap: 10px;
}
