.barContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.048) 0%,
    rgba(255, 255, 255, 0.466) 100%
  );
  backdrop-filter: blur(10px) saturate(192%);
  -webkit-backdrop-filter: blur(5px) saturate(192%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  gap: 10px;

}

.transparentTableBar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.headerTableBar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.headerTableBar div {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  margin-left: 10px;
  box-sizing: border-box;
  color: black;
}

.headerTableBar div:nth-child(1) {
  width: 100px;
}

.headerTableBar div:nth-child(2) {
  width: 120px;
}

.headerTableBar div:nth-child(3) {
  width: 100px;
}

.headerTableBar div:nth-child(4) {
  width: 90px;
}

.headerTableBar div:nth-child(5) {
  width: 100px;
}

.headerTableBar div:nth-child(6) {
  width: 200px;
}

.headerTableBar div:nth-child(7) {
  width: 80px;
}

.headerTableBar div:nth-child(8) {
  width: 60px;
}

.headerTableBar input[type="checkbox"] {
  border: 0.2px solid white;
  background-color: white;
  width: 16px;
  height: 16px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: absolute;
  bottom: -6;
  margin-left: 20px;
  width: 225px;
}

.editButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 33px;
  border-radius: 10px;
  color: #fff;
  background-color: #181818;
  border: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.editButton:hover {
  background: linear-gradient(
    90deg,
    #926228 2.73%,
    #ad8847 39.78%,
    #c5a862 67.79%,
    #f5ec9a 107.96%
  );
  transform: scale(1.1);
  transition: all 0.29s;
  text-shadow: 0, 1;
  opacity: 0.98;
  font-weight: 600;
}
.editButton:active {
  background-color: #fff;
  color: #000;
}
.editIcon {
  scale: 1.2;
}

.deleteButton {

  margin-left: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 33px;
  border-radius: 10px;
  color: #fff;
  background-color: #181818;
  border: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.deleteButton:hover {
  background: linear-gradient(
    90deg,
    #926228 2.73%,
    #ad8847 39.78%,
    #c5a862 67.79%,
    #f5ec9a 107.96%
  );
  transform: scale(1.1);
  transition: all 0.3s;
  font-weight: var(--bold-font);
  text-shadow: 0, 1;
  opacity: 0.98;
  font-weight: 600;
}
.deleteButton:active {
  background-color: #fff;
  color: #000;
}
.deleteIcon {
  scale: 1.2;
}

.detailButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 125px;
  height: 43px;
  border-radius: 10px;
  margin-top: 20px;
  color: #fff;
  background-color: #181818;
  border: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.detailButton:hover {
  background: linear-gradient(
    90deg,
    #926228 2.73%,
    #ad8847 39.78%,
    #c5a862 67.79%,
    #f5ec9a 107.96%
  );
  transform: scale(1.1);
  transition: all 0.3s;
  font-weight: var(--bold-font);
  text-shadow: 0, 1;
  opacity: 0.98;
  font-weight: 600;
}
.detailButton:active {
  background-color: #fff;
  color: #000;
}
.detailsIcon {
  scale: 1.3;
}

@media (max-width: 1440px) {
  .headerTableBar div:nth-child(1) {
    width: 100px;
    margin-left: 50px;
  }

  .headerTableBar div:nth-child(2) {
    width: 120px;
    margin-left: 5px;
  }

  .headerTableBar div:nth-child(3) {
    width: 100px;
    margin-left: 29px;
  }

  .headerTableBar div:nth-child(4) {
    width: 90px;
    margin-left: 30px;
  }

  .headerTableBar div:nth-child(5) {
    width: 100px;
    margin-left: 90px;
  }

  .headerTableBar div:nth-child(6) {
    width: 200px;
    margin-left: 20px;
  }

  .headerTableBar div:nth-child(7) {
    width: 80px;
  }

  .headerTableBar div:nth-child(8) {
    width: 60px;
  }
}
