
.nav.scrolled {
  top: -180px; 
  transition-delay: 1.2s; /* Retraso del ocultamiento */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100vw;
  transition: top .2s ease-in-out;
  position: fixed;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.1); /*glass */
  backdrop-filter: blur(0.2px); /* desenfoque */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /*Sombra*/
  transition: top .2s ease-in-out;

  .nav-logo {
    width: 175px;
    height: 50px;
    margin-left: 50px;
  }
}

  .nav-btn-CA,
  .nav-btn-SI {
    width: 165px;
    height: 38px;
    margin: 10px;
    font-size: 15px;
    border: none;
    padding: 6px 30px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /*Sombra*/
    background: linear-gradient(
      90deg,
      #926228 2.73%,
      #ad8847 39.78%,
      #c5a862 67.79%,
      #f5ec9a 107.96%
    );
  }
  .nav-container {
    display: flex;
    justify-content: center;
    margin-right: 25px;
    align-items: center;
    background-color: transparent; /*glass */
    ;
  }

.nav-btn-CA:hover,
.nav-btn-SI:hover {
  transform: scale(1.05);
  transition: all 0.12s;
  text-shadow: 0, 0.1;
  opacity: 0.98;
  font-weight: 500;
  cursor: pointer;
  
}

@keyframes clickAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}



.nav-btn-CA:active,
.nav-btn-SI:active {
  animation: clickAnimation 0.1s ease-in-out;
  transform: scale(0.9);
}


.nav-burger {
  display: none;
  width: 50px;
  height: auto;
}
@media (width < 960px) {
  .nav-btn-CA,
  .nav-btn-SI {
    display: none;
  }
  .nav-burger {
    display: flex;
  }

  .nav-logo {
    margin: 0;
  }
}

@media (width < 460px) {
  .nav {
    flex-direction: column;
  }
  .nav-logo {
    height: 76px;
  }
}
