.login-container-l {
  width: auto;
  height: 870px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/src/assets/images/background-auth.png");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.form-container-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(190, 185, 185, 0.4);
  width: 421px;
  height: 450px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.form-title-l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-title-l img,
.form-title-l strong {
  margin: 10px;
}

.form-title-l strong {
  font-size: 16px;
  color: rgba(173, 136, 71, 1);
}

.form-login-l {
  width: 90%;
  padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.form-login-l input {
  width: 307px;
  height: 44px;
  border-radius: 25px;
  border: none;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.form-login-l .btn-form {
  border: none;
  margin-top: 20px;
  width: 307px;
  height: 44px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
    90deg,
    #926228 2.73%,
    #ad8847 39.78%,
    #c5a862 67.79%,
    #f5ec9a 107.96%
  );
}

.login-l {
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  align-items: center;
  margin-top: -5px;
}

.login-l a {
  color: #454444;
  text-decoration: underline;
}

.link-bottom-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.link-bottom-l a {
  margin-bottom: 20px;
  color: var(--color-black-alternative);
  margin-top: 5px;
}

.link-bottom-l a:hover {
  text-decoration: underline;
}

.link-bottom-l small {
  color: rgba(0, 0, 0, 0.435);
  text-align: center;
  font-size: 10px;
}

.input-cont-l {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-content: end;
  margin-bottom: 10px;
  position: relative;
}

.input-cont-l1 {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-content: end;
  margin-bottom: 15px;
  position: relative;
}

.login-error {
  position: absolute;
  font-family: Exo;
  font-weight: 500;
  top: 67px;
  left: 15px;
  color: var(--color-validation-red);
  font-size: 13px;
}
